<header class="header">
	<div class="container">
		<img class="header__logo" src="img/svg/logo.svg" alt="Logo">
	</div>
	<span class="header__line"></span>
	<div class="container header-container">
		<div class="header__block-text">
			<h1 class="header__title">learn how to make money online</h1>
			<p class="header__text">
				I tried many online brokers, but the experience I had with Opteck was the best one. Their account managers and 
				friendly platform helped me improve my trading skills. I was finally able to make additional income, especially 
				from the 60 sec. option feature.<br>
			<span class="header__text--bold">You simply can’t believe how good of a feeling it is</span><br>
			<span class="header__author">David Shvimmer</span>
		</p>
		<img class="header__img" src="img/header_man.png" alt="Man with notebook">
		</div>
		<div class="header__block-form">
			<div class="header__form">
				<div class="form__title">if David did, <span class="form__title--bold">so can you!</span></div>
				<div class="form__subtitle">Open account</div>
				<form class="form" action="" method="post" name="form-register">
					<input required class="form__inp" type="text" placeholder="Full name">
					<input required class="form__inp" type="text" placeholder="E-mail">
					<div class="form__group">
						<input required maxlength="4" class="form__inp form__inp--bord-left" type="text" placeholder="+345">
						<input required class="form__inp form__inp--bord-right" type="text">
					</div>
					<div class="form__group">
					<select required class="form__sel">
						<option selected>Select country</option>
						<option value="Ukraine">Ukraine</option>
						<option value="USA">USA</option>
					</select>
				</div>
					<button class="form__btn form__btn--orange">Register Here</button>
					<div class="group-check">
						<div class="form__group form__group--inline">
							<input type="checkbox" required id="check-age" class="form__inp form__inp--none" name="check-age" value="age18+" checked>
							<label for="check-age" class="form__lbl form__lbl--age">18+</label>
						</div>
						<div class="form__group">
								<input type="checkbox" required id="check-agree" class="form__inp form__inp--agree" name="check-agree" value="agreeage18+" checked>
								<label for="check-agree" class="form__lbl form__lbl--agree">I agree receive information via email from opteck.com<br><a class="form__priv-pol" href="#">Privacy Policy</a></label>
						</div>
					</div>
				</form>
				<img class="header__logos" src="img/logos.png" alt="Logos">
			</div>
		</div>
	</div>
</header>