<header class="header">
	<div class="container">
		<img class="header__logo" src="img/svg/logo.svg" alt="Logo">
	</div>
	<span class="header__line"></span>
	<div class="container">
		<div class="header__block-text">
			<h1 class="header__title">learn how to make money online</h1>
			<p class="header__text">
					I tried many online brokers, but the experience I had with Opteck was the best one. Their account managers and friendly platform helped me improve my trading skills. I was finally able to make additional income, especially from the 60 sec. option feature.
					You simply can’t believe how good of a feeling it is
			</p>
		</div>
	</div>
</header>