/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  margin: 0 auto;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}

.header {
  background-image: url(../img/header_bg.png);
  background-position: top center;
  top: 0;
  background-repeat: no-repeat;
  width: 100vw;
  color: white;
  padding-bottom: 5px;
  max-width: 100%;
  min-width: 320px;
}

.header__logo {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.header__line {
  border-top: 1px #695c77 solid;
  width: 100%;
  display: block;
}

.header__block-text {
  width: 50%;
  position: relative;
  margin-top: 10px;
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.header__text {
  width: 57%;
  padding: 20px 40px 75px 40px;
  background-color: #1b0b2a;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  border-radius: 6px;
}

.header__text--bold {
  font-weight: bold;
  display: block;
}

.header__author {
  font-style: italic;
  font-weight: bold;
}

.header__img {
  position: absolute;
  width: 680px;
  right: -160px;
  z-index: 9;
  bottom: -23px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block-form {
  position: relative;
  width: 39%;
}

.header__logos {
  float: right;
  margin-right: 40px;
  padding-bottom: 24px;
  position: relative;
}

.form-bg {
  width: 100%;
  height: 100%;
  background-color: #1b0b2a;
  opacity: 0.8;
  position: absolute;
}

.form {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px;
  font-size: 18px;
}

.form .plus {
  position: absolute;
  left: 14px;
  top: 14px;
  color: gray;
}

.form__title {
  width: 99%;
  margin: 0 auto;
  background-color: #3f808a;
  position: relative;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.form__title--bold {
  font-weight: bold;
}

.form__title::before, .form__title::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
  border: 5px solid transparent;
  border-top: 10px solid #3f808a;
}

.form__subtitle {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  position: relative;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.form__group--inline {
  float: left;
}

.form__sel, .form__btn {
  border: none;
  margin-bottom: 15px;
  border-radius: 60px;
  padding: 15px;
  outline: none;
  color: gray;
  position: relative;
}

.form .arrow {
  position: absolute;
  right: 18px;
  top: 24px;
  width: 14px;
  height: 7px;
  z-index: 2;
  background-image: url(../img/svg/arrow_b.svg);
}

.form__sel {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.form__btn {
  font-size: 25px;
  padding: 12px;
  color: white;
}

.form__btn--orange {
  background-color: #ef3623;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 1, 1, 0.25)), to(rgba(255, 255, 255, 0.25)));
  background-image: linear-gradient(to top, rgba(0, 1, 1, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.form__inp {
  border: none;
  margin-bottom: 15px;
  border-radius: 60px;
  padding: 14px;
  outline: none;
  color: gray;
  position: relative;
}

.form__inp--bord-left {
  border-radius: 60px 0 0 60px;
  margin-right: 10px;
  width: 25%;
  padding-left: 25px;
}

.form__inp--bord-right {
  border-radius: 0 60px 60px 0;
  width: 70%;
}

.form__inp--none {
  display: none;
}

.form__inp--none:checked + .form__lbl--age:before {
  content: "\2713";
  color: #3c760f;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
}

.form__inp--agree {
  margin-right: 10px;
  -webkit-transform: scale(1.4, 1.6);
          transform: scale(1.4, 1.6);
  margin-top: 3px;
}

.form__lbl {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form__lbl--age {
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #39663a;
  font-size: 16px;
  padding: 0 4px;
  margin-right: 10px;
}

.form__lbl--age:before {
  color: #3c760f;
  display: block;
  content: '';
  height: 16px;
  width: 16px;
  left: 0;
  position: absolute;
}

.form__lbl--agree {
  margin-top: -4px;
}

.form__priv-pol {
  color: #84c3e9;
  margin-top: 10px;
  display: block;
  margin-bottom: 40px;
}

.section-info {
  background-image: url(../img/section-info-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100vw;
  background-attachment: fixed;
  padding-bottom: 33px;
  padding-top: 65px;
  max-width: 100%;
  background-size: cover;
  min-width: 320px;
}

.tab {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}

.tab__text {
  margin-top: 40px;
}

.tab__titles {
  margin-top: 0 !important;
  padding-left: 0;
}

.tab__title {
  background-color: #f8f8f8;
  padding: 20px 20px 20px 32px;
  border: 1px solid #cecece;
  border-bottom: none;
  color: #282828;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.tab__title:last-of-type {
  border-bottom: 1px solid #cecece;
}

.tab__content {
  -webkit-box-flex: 73%;
      -ms-flex: 73%;
          flex: 73%;
  padding: 30px 30px 0 30px;
  font-size: 18px;
  color: #282828;
  line-height: 26px;
}

.tab__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}

.tab__info {
  width: 45%;
}

.tab__subtitle {
  margin-bottom: 0;
}

.tab .btn--purple {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.44), inset 1px 1px 0 rgba(255, 255, 255, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.44), inset 1px 1px 0 rgba(255, 255, 255, 0.4), inset 0 0 2px rgba(255, 255, 255, 0.1);
  background-color: #42275e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 1, 1, 0.13)), to(rgba(255, 255, 255, 0.13)));
  background-image: linear-gradient(to top, rgba(0, 1, 1, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
  padding: 8px 50px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 30px;
}

.tab__btn {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab .block-tab {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}

/* style for IE9 */
@media screen and (min-width: 0\0) {
  body {
    overflow-x: hidden;
  }
  .tab {
    width: 60% !important;
  }
  .form__group-ie {
    display: inline;
  }
  .form__inp--bord-right {
    width: 55%;
  }
  .header__img {
    bottom: -25px;
  }
  .header__logos {
    padding-bottom: 10px;
  }
  .tab__subtitle {
    font-size: 26px;
  }
  .tab__btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: white;
  }
  .tab .block-tab {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 0\0) and (max-width: 768px) {
  .tab {
    width: 100% !important;
  }
  .form__inp--bord-right {
    width: 60%;
  }
  .tab__btn {
    width: 100%;
    padding: 20px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .header__img {
    width: 550px;
    right: -125px;
    bottom: -20px;
  }
  .form__priv-pol {
    margin-bottom: 15px;
  }
  .form__lbl--agree {
    font-size: 16px;
  }
  .header__text {
    padding: 20px 30px 75px 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .tab__info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab__info {
    width: 100%;
  }
  .header__img {
    width: 377px;
    right: -77px;
    bottom: -15px;
  }
  .header .form {
    padding: 0 40px;
  }
  .header__block-form {
    width: 43%;
  }
  .header__text {
    width: 63%;
    padding: 10px 20px 35px 25px;
    font-size: 16px;
    margin-top: 0;
  }
  .header .form__lbl--agree {
    font-size: 15px;
  }
  .header__logos {
    margin-right: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .section-info {
    padding-top: 40px;
  }
  .header {
    overflow: hidden;
    padding-bottom: 20px;
  }
  .header__img {
    width: 484px;
    bottom: -219px;
    right: 20px;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__block-text {
    width: 100%;
  }
  .header__block-form {
    width: 100%;
    margin-top: 230px;
  }
  .header__text {
    width: 78%;
    font-size: 16px;
  }
  .header__logos {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logos-wrapper {
    height: 80px;
  }
  .form-bg {
    opacity: 1;
  }
  .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab__item {
    background-color: white;
    border-radius: 4px;
  }
  .tab__text {
    margin: 0;
    margin-bottom: 35px;
  }
  .tab .btn--purple {
    margin: 20px;
  }
  .tab .block-tab {
    background-color: transparent !important;
  }
  .tab__info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
  }
  .tab__info {
    width: 100%;
  }
  .tab__subtitle {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 575px) {
  .container {
    width: 90%;
  }
  .form {
    padding: 0 35px;
  }
  .section-info {
    padding-top: 40px;
  }
  .header {
    overflow: hidden;
  }
  .header__title {
    font-size: 36px;
  }
  .header__img {
    width: 420px;
    bottom: -232px;
    right: 10px;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__block-text {
    width: 95%;
  }
  .header__block-form {
    width: 100%;
    margin-top: 280px;
  }
  .header__text {
    width: 90%;
    font-size: 16px;
    padding: 20px 20px 75px 20px;
    margin-top: 0;
  }
  .header__logos {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logos-wrapper {
    height: 80px;
  }
  .form-bg {
    opacity: 1;
  }
  .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab__item {
    background-color: white;
    border-radius: 4px;
  }
  .tab__text {
    margin: 0;
    margin-bottom: 35px;
  }
  .tab .btn--purple {
    margin: 20px;
  }
  .tab .block-tab {
    background-color: transparent !important;
  }
  .tab__info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
  }
  .tab__info {
    width: 100%;
  }
  .tab__subtitle {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 488px) {
  .header__img {
    bottom: -232px;
    width: 90%;
  }
  .header__title {
    font-size: 26px;
  }
  .header__text {
    font-size: 14px !important;
  }
  .header__block-form {
    margin-top: 250px;
  }
}

@media (max-width: 427px) {
  .header__img {
    bottom: -206px;
  }
  .header__block-form {
    margin-top: 220px;
  }
}

@media (max-width: 404px) {
  .header__img {
    bottom: -179px;
  }
  .header__block-form {
    margin-top: 200px;
  }
}

@media (max-width: 368px) {
  .header__img {
    bottom: -152px;
  }
  .header__block-form {
    margin-top: 160px;
  }
  .header__text {
    width: 87%;
  }
  .header .form__lbl--agree {
    font-size: 12px;
  }
}

@media (max-width: 331px) {
  .header__img {
    bottom: -129px;
  }
  .header__block-form {
    margin-top: 135px;
  }
  .header__text {
    padding: 20px 20px 50px 20px;
  }
}

@media (max-width: 320px) {
  .header__text {
    padding: 20px 20px 24px 20px;
  }
}
