
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .container{
        width: 960px;
    }
    .header__img {
        width: 550px;
        right: -125px;
        bottom: -20px;
    }
    .form__priv-pol {
        margin-bottom: 15px;
    }
    .form__lbl--agree {
        font-size: 16px;
    }
    .header__text {
        padding: 20px 30px 75px 35px;
    }
}

 