// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	.container{
		width: 90%;
	}

	.form{
		padding: 0 35px;
		
	}
	.section-info{
        padding-top: 40px;
    }
    .header{
        overflow: hidden;
		
		&__title{
			font-size: 36px;
		}

        &__img {
			width: 420px;
			bottom: -232px;
			right: 10px;
        }
        &-container {
            flex-direction: column;
        }
        &__block-text {
            width: 95%;
        }
        &__block-form {
            width: 100%;
            margin-top: 280px;
        }
        &__text {
            width: 90%;
			font-size: 16px;
			padding: 20px 20px 75px 20px;
			margin-top: 0;
        }
        &__logos {
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }

    .logos-wrapper{
        height: 80px;
    }
    .form-bg{
        opacity: 1;
    }
    .tab{
        flex-direction: column;

        &__item{
            background-color: white;
            border-radius: 4px;
        }
        &__text{
            margin: 0;
            margin-bottom: 35px;


        }
        & .btn--purple{
            margin: 20px;
        }

        & .block-tab{
            background-color: transparent !important;
        }
        &__info-block{
            flex-direction: column;
            margin-bottom: 8px;
        }
        &__info{
            width: 100%;
        }
        &__subtitle {
            margin: 0 0 10px 0;
        }

    }

}
@media (max-width: 488px) {
	.header{
        &__img {
			bottom: -232px;
			width: 90%;
		}
		&__title{
			font-size: 26px;
		}
		
		&__text {
			font-size: 14px !important;
		}
		&__block-form {
			margin-top: 250px;
        }
}}

@media (max-width: 427px) {
	.header{
        &__img {
			bottom: -206px;
		}
		&__block-form {
			margin-top: 220px;
        }
		
}}
@media (max-width: 404px) {
	.header{
        &__img {
			bottom: -179px;
		}
		&__block-form {
			margin-top: 200px;
        }
		
}}
@media (max-width: 368px) {
	.header{
        &__img {
			bottom: -152px;
		}
		&__block-form {
			margin-top: 160px;
		}
		&__text {
			width: 87%;
		}
		& .form__lbl--agree {
			font-size: 12px;
		}
		
}}
@media (max-width: 331px) {
	.header{
        &__img {
			bottom: -129px;
		}
		&__block-form {
			margin-top: 135px;
		}
		&__text{
			padding: 20px 20px 50px 20px;
			
		}
		
}}

@media (max-width: 320px){
.header__text {
    padding: 20px 20px 24px 20px;
}
}

